<div class="admin-layout">
  <header class="topbar">

    <div class="logo" (click)="setSection('dashboard')" style="cursor:pointer" title="Tableau de bord">
      E-Learning Admin
    </div>

    <nav class="nav">
      <button (click)="setSection('Formateurs')" [class.active]="section === 'Formateurs'">
        Formateurs
      </button>
      <button (click)="setSection('etudiants')" [class.active]="section === 'etudiants'">
        Étudiants
      </button>
      <button (click)="setSection('blocked')" [class.active]="section === 'blocked'">
        Bloqués
      </button>
      <button (click)="setSection('categories')" [class.active]="section === 'categories'">
        Catégories
      </button>
      <button [class.active]="section === 'cours'" (click)="setSection('cours')">
        Cours
      </button>
    </nav>

    <div class="right">
      <button class="logout" (click)="logout()">Déconnexion</button>
    </div>
  </header>

  <main class="content">
    <app-admin-dashboard   *ngIf="section === 'dashboard'"></app-admin-dashboard>
    <app-admin-formateurs  *ngIf="section === 'Formateurs'"></app-admin-formateurs>
    <app-admin-etudiants   *ngIf="section === 'etudiants'"></app-admin-etudiants>
    <app-categories        *ngIf="section === 'categories'"></app-categories>
    <app-admin-cours       *ngIf="section === 'cours'"></app-admin-cours>

    <app-admin-bloques *ngIf="section === 'blocked'"></app-admin-bloques>
  </main>
</div>